<p>
<%= nicework %>
</p>


<form action="/3/" method="POST">

  Would you like to create GreenPencil with .5 or .7 lead? (Type .5 to be able to write up to 30 characters or .7 to be able to write up to 50 characters.)
  <br>
  <input type="radio" id=".5" name="lead" value=".5" required="required">
  <label for=".5"> .5 </label>
  <input type="radio" id=".7" name="lead" value=".7" required="required">
  <label for=".7"> .7 </label>
  <br>

  Write some words on the paper with GreenPencil:
  <input type="text" name="answer" required="required">

  <input type="submit">

</form>
