<p>
<%= nicework %>
</p>


<form action="/3/" method="POST">

  Would you like to create GreenPencil with .5 or .7 lead? (Type .5 or .7)
  <input type="text" name="lead">

  Write some words on the paper with GreenPencil:
  <input type="text" name="answer">

  <input type="submit">
  
</form>