<p>
<%= nicework %>
</p>


<form action="/2/" method="POST">

  Would you like to create BluePencil with .5 or .7 lead? (Type .5 or .7)
  <input type="text" name="lead">

  Write some words on the paper with BluePencil:
  <input type="text" name="answer">

  <input type="submit">
  
</form>