<form action="/" method="POST">
  This is an application where you write words on a piece of paper with four different colored pencils. You will see a report of your actions at the end.
  <br>
  <br>
  Would you like to create an Orange Pencil with .5mm or .7mm lead? (Choose .5mm to be able to write up to 500 characters or .7mm to be able to write up to 700 characters.)
  <br>
  <input type="radio" id=".5mm" name="lead" value=".5mm" required="required">
  <label for=".5mm"> .5mm </label>
  <input type="radio" id=".7mm" name="lead" value=".7mm" required="required">
  <label for=".7mm"> .7mm </label>
  <br>

  Write some words on the paper with the Orange Pencil:
  <br>
  <input type="text" name="answer" required="required">

  <input type="submit">

</form>
