<p>
  Words so far... <%= word1 %>, <%= word2 %>.
</p>

<h1>This is page 2</h1>

<form action="/2/" method="POST">
  Write word 3: <input type="text" name="word3">
  <br/>
  Write word 4:<input type="text" name="word4">
  <br/>
  <input type="submit">
</form>
