<h1>This is Page 1</h1>

<form action="/1/" method="POST">
  Write word 1: <input type="text" name="word1">
  <br/>
  Write word 2: <input type="text" name="word2">
  <br/>
  <input type="submit">
</form>
